@use "../../../design/shared/spacing";
@use "../../../design/shared/colors";
@use "../../../design/shared/typography";

.loadingOverlay {
    width: 100vw;
    height: 100vh;
    background-color: colors.$overlay;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: spacing.$sm;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}