@use '../shared/typography';
@use '../shared/spacing';

html {
  color-scheme: light dark;
  font-size: typography.$sm;
  overflow-x: hidden;
  background-color: var(--neutral-one);
}

main {
  min-height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-one);
  padding: spacing.$xxl 0;
}

a {
  text-decoration: none;
  color: inherit;
}
