@use '../shared/typography';
@use '../shared/colors';
@use '../shared/transitions';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: typography.$primary;
  transition: background-color transitions.$medium ease-in-out, background transitions.$medium ease-in-out, color transitions.$medium ease-in-out;
}