@use '../../../design/shared/spacing';
@use '../../../design/shared/radiuses';
@use '../../../design/shared/typography';

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: spacing.$sm;
  padding-top: 0;
  border-radius: radiuses.$md;
  animation: fade-in 0.8s ease-in-out;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: spacing.$sm;
}

.rememberMeCheckbox {
  color: var(--neutral-two);
  display: flex;
  align-items: center;
  gap: spacing.$sm;
  font-size: typography.$xs;
}
