@use "../../../design/shared/spacing";

.preferencesContainer {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: spacing.$sm;
    align-items: center;
    justify-content: space-between;
    padding: spacing.$sm;
}