@use "../../../design/shared/colors";
@use "../../../design/shared/spacing";
@use "../../../design/components/buttons";

.createTodo {
    width: 80%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    gap: spacing.$sm;

    input {
        background-color: colors.$white;
        color: colors.$dark-grey;

        &::placeholder {
            color: colors.$faded-dark-grey;
        }
    }

    .addButton {
        white-space: nowrap;
        @include buttons.primary;
    }
}