@use '../../../design/shared/spacing';
@use '../../../design/shared/typography';
@use '../../../design/shared/breakpoints';
@use '../../../design/shared/colors';
@use '../../../design/shared/radiuses';
@use '../../../design/shared/animations';
@use '../../../design/shared/transitions';

.inputGroup {
  position: relative;

  input {
    width: 100%;
    background: var(--neutral-one);
    border: spacing.$xxs solid colors.$secondary;
    border-radius: radiuses.$sm;
    padding: spacing.$sm spacing.$md;
    font-size: typography.$xs;
    color: var(--neutral-two);
    transition:
      background transitions.$slow ease-in-out,
      border transitions.$slow ease-in-out,
      transform transitions.$fast ease-in-out;
    @include animations.fade-in-up;

    &:focus {
      border: spacing.$xxs solid colors.$secondary;
      outline: none;
    }

    &::placeholder {
      color: var(--faded-neutral-two);
    }

    &.errorInput {
      border-color: colors.$error;
      outline: none;
    }

    @media (min-width: breakpoints.$md) {
      padding: spacing.$sm spacing.$md;
    }
  }

  .errorMessage {
    color: colors.$error;
    font-size: typography.$xs;
    margin-top: spacing.$xs;
    text-align: left;

    [dir='rtl'] & {
      text-align: right;
    }
  }
}
