@use '../../../design/shared/shadows';
@use '../../../design/shared/spacing';
@use '../../../design/shared/colors';
@use '../../../design/shared/radiuses';
@use '../../../design/shared/typography';
@use '../../../design/shared/transitions';
@use '../../../design/shared/animations';

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: spacing.$sm spacing.$md;
  background-color: var(--neutral-one);
  box-shadow: shadows.$xs;
  position: sticky;
  top: 0;

  .logo {
    width: 120px;
  }

  .navbar {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .controls {
      position: relative;

      .badge {
        background-color: transparent;
        color: var(--neutral-two);
        padding: spacing.$xs spacing.$md;
        border: solid spacing.$xxs colors.$secondary;
        border-radius: radiuses.$sm;
        font-size: typography.$xs;
        cursor: pointer;

        &:hover {
          background-color: colors.$faded-secondary;
        }
      }

      .arrowIcon {
        display: inline-block;
        margin-left: spacing.$xxs;
        transition: transform transitions.$slow ease;
      }

      .rotate {
        transform: rotateX(180deg);
      }

      .dropdown {
        min-width: 100%;
        position: absolute;
        top: calc(100% + spacing.$md);
        right: 0;
        background-color: var(--neutral-one);
        border-radius: radiuses.$sm;
        box-shadow: shadows.$sm;
        overflow: hidden;
        opacity: 0;
        transform: translateY(spacing.$md-);
        pointer-events: none;
        z-index: 2;

        li {
          color: var(--neutral-two);
          cursor: pointer;
          font-size: typography.$xs;
          text-align: center;

          button {
            min-width: 100%;
            border: none;
            border-radius: 0;
            background-color: transparent;
            white-space: nowrap;
            color: var(--neutral-two);
            cursor: pointer;
            padding: spacing.$sm spacing.$md;

            &:hover {
              background-color: transparent;
            }
          }

          &:hover {
            background-color: colors.$faded-secondary;
          }

          &.signOut {
            border-top: solid colors.$faded-dark-grey spacing.$xxs;
            padding: spacing.$sm spacing.$md;
          }
        }

        &.show {
          opacity: 1;
          transform: translateY(0);
          pointer-events: auto;
          @include animations.fade-in-down;
        }

        &.hide {
          opacity: 0;
          transform: translateY(spacing.$md-);
          pointer-events: none;
          @include animations.fade-out-up;
        }
      }
    }
  }
}

[dir='rtl'] {
  .dropdown {
    right: auto !important;
    left: 0 !important;
  }
}