@use "../../../design/shared/spacing";
@use "../../../design/shared/colors";
@use "../../../design/shared/typography";
@use "../../../design/components/buttons";

.deleteModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: spacing.$sm;
    width: 100%;
    color: var(--neutral-two);
    font-weight: bold;
}

.deleteMessage {
    line-height: spacing.$lg;
    font-size: typography.$sm;
}

.deleteModalActions {
    display: flex;
    gap: spacing.$sm;
    width: 100%;
    justify-content: center;
    align-items: center;

    button {
        padding: spacing.$xs spacing.$md;
        font-size: typography.$xs;
    }
}

.confirm {
    @include buttons.primary(colors.$dark-grey);
}