@use '../shared/colors';

// Shadows
$xs: 0px 2px 4px var(--neutral-two);
$sm: 0px 4px 8px var(--neutral-two);
$md: 0px 6px 12px var(--neutral-two);
$lg: 0px 8px 16px var(--neutral-two);
$xl: 0px 12px 24px var(--neutral-two);
