@use '../../../design/shared/radiuses';
@use '../../../design/shared/spacing';
@use '../../../design/shared/transitions';

.localeButton {
  background-color: transparent;
  color: var(--neutral-two);
  border: spacing.$xxs solid var(--neutral-two);
  padding: spacing.$sm spacing.$md;
  border-radius: radiuses.$md;
  cursor: pointer;

  &:hover {
    background-color: var(--faded-neutral-two);
  }
}
